<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/posts"></ion-back-button>
    </ion-buttons>
    <ion-title>{{post?.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{post?.titulo}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <section *ngIf="post">
    <ion-img [src]="post?.fotoUrl"></ion-img>
    <div class="post-content">
      <h1>{{post?.titulo}}</h1>
      <h6>{{post?.autor}}</h6>
      <p>{{post?.descripcion}}</p>
    </div>
  </section>
</ion-content>